launches-details {
    .link-col{

        a{
            text-decoration: none;
            color: red;
            text-transform: uppercase;
        }

        border-top: 1px solid #CCC;
        border-bottom: 1px solid #ccc;
        background-color: #fbfbfb;
    }

    .link-col img{
        max-width: 20px;
        margin-right: 5px;
    }

    .link-col ion-icon{
        font-size: 1em!important;
        padding-right: 1.2em!important;
      }

      h2{
        margin: 15px 0!important;
      }
}
