page-launches-filter {
    .close-modal{
        width: 60px;
        right: 5px;
        position: absolute;
    }

    .toolbar-content{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
