<ion-header> 
  <ion-navbar color="primary"> 
    <button ion-button menuToggle> 
      <ion-icon name="menu"></ion-icon> 
    </button> 
    <ion-title>Launchpads</ion-title> 
  </ion-navbar> 
  <div padding>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="kittens">
        Kittens
      </ion-segment-button>
      <ion-segment-button value="puppies">
        Puppies
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header> 
   

<ion-content>
  <ion-spinner *ngIf="loadingLaunchpads"></ion-spinner>

  <ion-card *ngFor="let launchpad of launchpadsList">
    <img src="assets/imgs/launchpads.jpg"/>
    <ion-card-content>
      <ion-card-title color="light">
        {{launchpad.full_name}}
      </ion-card-title>
      <button ion-button item-end (click)="navLaunchpadDetails(launchpad)">
        <strong>Details</strong>
      </button>
    </ion-card-content>
  </ion-card>
  <!--
    <ion-list>
      <ion-item *ngFor="let launchpad of launchpadsList">
        <ion-thumbnail item-start>
          <img src="assets/imgs/launchpads.jpg">
        </ion-thumbnail>
        <h2>{{launchpad.full_name}}</h2>
        <p>{{launchpad.details}}</p>
        <button ion-button clear item-end (click)="navLaunchpadDetails(launchpad)">
          <strong>Details</strong>
        </button>
      </ion-item>
    </ion-list>
  -->
</ion-content>