<ion-header>   
    <ion-navbar color="primary">   
      <ion-title>{{launchpad.full_name}}</ion-title>   
    </ion-navbar>   
  </ion-header>   

<ion-content>
    <ion-card text-center>
        <img src="assets/imgs/launchpads.jpg"/>
        <ion-card-content>
          <ion-card-title style="color:lightseagreen">
            {{launchpad.full_name}}
          </ion-card-title>
          <p style="color:whitesmoke;">
            {{launchpad.details}}
          </p>
          <ion-card-title style="color:lightseagreen">This launchpad have launch </ion-card-title>
            <button ion-button color="danger" outline *ngFor="let vehicle of launchpad.vehicles_launched" >{{vehicle}}</button>
            <ion-card-title style="color:lightseagreen">
                Position
            </ion-card-title>
             <button ion-button>{{launchpad.location.latitude}}</button>
            <button ion-button color="secondary">{{launchpad.location.longitude}}</button>
        </ion-card-content>
      </ion-card>
</ion-content>