<ion-header>   
    <ion-navbar color="primary">   
      <ion-title>{{launchpad.full_name}}</ion-title>   
    </ion-navbar>   
  </ion-header>   

<ion-content>
    <ion-card>
        <img src="assets/imgs/launchpads.jpg"/>
        <ion-card-content>
          <ion-card-title color="light">
            {{launchpad.full_name}}
          </ion-card-title>
          <p>
            {{launchpad.details}}
          </p>
          <p>This launchpad have launch : </p>
          <ul>
            <li *ngFor="let vehicle of launchpad.vehicles_launched" >{{vehicle}}</li>
          </ul>
          <p><strong>Position:</strong></p>
          <p>
            {{launchpad.location.latitude}} | {{launchpad.location.longitude}}
          </p>
        </ion-card-content>
      </ion-card>
</ion-content>