<!-- Generated template for the CoresDetailsComponent component -->
<ion-header>
    <ion-navbar>
      <ion-title>{{core.core_serial}}</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
    <ion-card *ngIf="core">
        <ion-card-header text-center>
            <button ion-button color="dark">{{core.core_serial}}</button>
          </ion-card-header>

         <ion-card-content>
             <ion-item *ngIf="core.block">
                 <span>Block</span> <ion-badge item-end>{{core.block}}</ion-badge>
             </ion-item>
             <ion-item>
                 <span>Status</span> <ion-badge item-end>{{core.status}}</ion-badge>
             </ion-item>
              <ion-item text-center>
                <p>
                    Original Launch
                </p>
                  <button ion-button>{{core.original_launch}}</button>
              </ion-item>
            
            
               <ion-item text-center>
                   <p>
                       Missions
                   </p>
                   <button ion-button color="danger" outline *ngFor="let core_mission of core.missions">
                       {{core_mission}}
                   </button>
               </ion-item>
            
            
              <ion-item>
                  Real Time LS Attempt
                  <ion-badge color="secondary" item-end *ngIf="core.rtls_attempt">Success</ion-badge>
                  <ion-badge color="danger" item-end *ngIf="!core.rtls_attempt">Fail</ion-badge>
              </ion-item>
            
              <ion-item>
                  Real Time LS Landings
                  <ion-badge item-end>{{core.rtls_landings}}</ion-badge>
              </ion-item>
            
              <ion-item>
                  Autonomous spaceport DS
                  <ion-badge color="secondary" item-end *ngIf="core.asds_attempt">Success</ion-badge>
                  <ion-badge color="danger" item-end *ngIf="!core.asds_attempt">Fail</ion-badge>
              </ion-item>
            
              <ion-item>
                  ASDS Landings
                  <ion-badge item-end>{{core.asds_landings}}</ion-badge>
              </ion-item>
            
              <ion-item>
                  Water landing
                  <ion-badge color="secondary" item-end *ngIf="core.water_attempt">Success</ion-badge>
                  <ion-badge color="danger" item-end *ngIf="!core.water_attempt">Fail</ion-badge>
              </ion-item>
            
              <ion-card text-center *ngIf="core.details">
                  <ion-card-header color="secondary">
                      More info
                  </ion-card-header>
                  <ion-card-content>
                      {{core.details}}
                  </ion-card-content>
              </ion-card>
         </ion-card-content> 
    </ion-card>
</ion-content>
