<!-- Generated template for the CoresDetailsComponent component -->
<ion-header>
    <ion-navbar>
      <ion-title>{{core.core_serial}}</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
    <ion-card *ngIf="core">
        <ion-card-header>
            core_serial: {{core.core_serial}}
          </ion-card-header>

         <ion-card-content>
            <p>
                block: {{core.block}}
              </p>
              <p>
                status: {{core.status}}
              </p>
              <p>
                original_launch: {{core.original_launch}}
              </p>
            
            
                core_mission :
                <p *ngFor="let core_mission of core.missions">
                  {{core_mission}}
                </p> 
            
            
              <p>
                  rtls_attempt: {{core.rtls_attempt}}
              </p>
            
              <p>
                  rtls_landings: {{core.rtls_landings}}
              </p>
            
              <p>
                  asds_attempt: {{core.asds_attempt}}
              </p>
            
              <p>
                  asds_landings: {{core.asds_landings}}
              </p>
            
              <p>
                  water_landing: {{core.water_landing}}
              </p>
            
              <p>
                  details: {{core.details}}
              </p>
         </ion-card-content> 
    </ion-card>
</ion-content>
