<ion-header>  
    <ion-navbar>  
      <ion-title>{{capsule.name}}</ion-title>  
    </ion-navbar>  
  </ion-header>  
   
  <ion-content> 
    <ion-card> 
      <img src="assets/imgs/{{capsule.img}}"/> 
      <ion-card-content text-center="">
        <ion-card-title>
            <button ion-button color="danger" clear>{{capsule.name}} </button>
          </ion-card-title>
          <button *ngIf="capsule.active" ion-button color="secondary">Active</button>
          <button *ngIf="!capsule.active" ion-button color="danger">Unactive</button>
          <button ion-button color="secondary" outline>{{capsule.type}}</button>
          <div>
              <ion-item>
                  Capacity <ion-badge item-end>{{capsule.crew_capacity}}</ion-badge>
              </ion-item>
              <ion-item>
                  Orbit duration <ion-badge item-end>{{capsule.orbit_duration_yr}} year(s)</ion-badge>
              </ion-item>
          </div>
      </ion-card-content> 
    </ion-card>
      <ion-card>
          <ion-card-content text-center="">
              <ion-card-title>
                  <button ion-button color="danger" clear>Heat Shield</button>
              </ion-card-title>
              <button ion-button icon-start>
                  <ion-icon name="build"></ion-icon>
                  {{capsule.heat_shield.material}}
              </button>
              <button ion-button icon-start>
                  <ion-icon name="resize"></ion-icon>
                  {{capsule.heat_shield.size_meters}}m
              </button>
              <button ion-button icon-start>
                  <ion-icon name="bonfire"></ion-icon>
                  {{capsule.heat_shield.temp_degrees}}°
              </button>
              <button ion-button color="danger" round>
                  with {{capsule.heat_shield.dev_partner}}
              </button>
          </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-content text-center="">
              <button ion-button color="danger" clear>Thrusters</button>
              <ion-row *ngFor="let thruster of capsule.thrusters">
                  <ion-item>
                      <ion-icon name="information" item-start large ></ion-icon>
                      <h2 style="color:white;">Type of Thruster</h2>
                      <p>{{ thruster.type }}</p>
                  </ion-item>
                  <ion-item>
                      <ion-icon name="nuclear" item-start large ></ion-icon>
                      <h2 style="color:white;">Number of Pods</h2>
                      <p>{{ thruster.pods }}</p>
                  </ion-item>
                  <ion-item>
                      <ion-icon name="leaf" item-start large ></ion-icon>
                      <h2 style="color:white;">Fuels used</h2>
                      <p>{{ thruster.fuel_1 }} </p>
                      <p>{{ thruster.fuel_2 }} </p>
                  </ion-item>
                  <ion-item>
                      <ion-icon name="jet" item-start large ></ion-icon>
                      <h2 style="color:white;">Thrusts</h2>
                      <p>{{ thruster.thrust.kN }} kN</p>
                      <p>{{ thruster.thrust.lbf }} kbf</p>
                  </ion-item>
              </ion-row>
          </ion-card-content>
      </ion-card>
  </ion-content>