<ion-header>  
    <ion-navbar>  
      <ion-title>{{capsule.name}}</ion-title>  
    </ion-navbar>  
  </ion-header>  
   
  <ion-content> 
    <ion-card> 
      <img src="assets/imgs/{{capsule.img}}"/> 
      <ion-card-content> 
        <ion-card-title> 
         {{capsule.name}} 
          </ion-card-title>
          <p>Active : {{capsule.active}}</p>
          <p>Capsule : {{capsule.type}}</p>
          <p>Crew capacity : {{capsule.crew_capacity}}</p>
          <p>Orbit duration : {{capsule.orbit_duration_yr}} year(s)</p>
      </ion-card-content> 
    </ion-card>
      <ion-card>
          <ion-card-content>
              <h2>Heat Shield</h2>
              <p>Material : {{capsule.heat_shield.material}}</p>
              <p>Size : {{capsule.heat_shield.size_meters}}m</p>
              <p>Degrees : {{capsule.heat_shield.temp_degrees}}°</p>
              <p>with {{capsule.heat_shield.dev_partner}}</p>
          </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-content>
              <h2>Thrusters</h2>
              <div *ngFor="let thruster of capsule.thrusters">
                  <p>Type : {{ thruster.type }}</p>
                  <p>Pods : {{ thruster.pods }}</p>
                  <p>Fuel(s) : {{ thruster.fuel_1 }} - {{ thruster.fuel_2 }}</p>
                  <p>Thrust : {{ thruster.thrust.kN }} kN - {{ thruster.thrust.lbf }} kbf</p>
              </div>
          </ion-card-content>
      </ion-card>
  </ion-content>