launches {
    .open-modal{
        position: absolute;
        right: 5px;
        background: transparent;
    }

    .toolbar-content{
        display: flex;
        align-items: center;
    }

    ion-slides{
        height: auto;
    }

    ion-slide{
        overflow: auto;
    }
}
